@model LunchBlog.Models.People

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h2>
            @Html.DisplayFor(model => model.Name)
        </h2>
        <hr />
        <p>@Html.DisplayFor(model => model.Description)</p>

        <a asp-controller="Experiences" asp-action="Details" asp-route-id="@Model.ExperienceId">@Html.DisplayFor(model => model.Experience.Name)</a>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.PeopleId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>
