@model LunchBlog.Models.Location

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h2>
        @Html.DisplayFor(model => model.Name)
    </h2>
    <hr />        
    <h4>
       Address: @Html.DisplayFor(model => model.Address)
    </h4>
    <h4>
       Price: @Html.DisplayFor(model => model.Price)

    </h4>
   
</div>
<div>
    <br />
    <h5>Experiences</h5>
    <ul>
        @foreach (var exp in Model.Experiences)
        {
            <li>@Html.DisplayFor(modelItem => exp.Name) | @exp.Date.ToString("MM/dd/yyyy")
        <a asp-controller="Experiences" asp-action="Details" asp-route-id="@exp.ExperienceId">Details</a></li>

        }
    </ul>
    <a class="">@Html.ActionLink("Add Experience", "Create", "Experiences")</a>
    <hr />

    <a asp-action="Edit" asp-route-id="@Model.LocationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
