@model LunchBlog.Models.Experience


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h2>@Html.DisplayFor(model => model.Name)</h2>
        <hr />
        <p>@Html.DisplayFor(model => model.Description)</p>
        <p>@Model.Date.ToString("MM/dd/yyyy") | <a asp-controller="Locations" asp-action="Details" asp-route-id="@Model.LocationId">@Html.DisplayFor(model => model.Location.Name)</a></p>           
                
                       
                
       
    </div>
    <h4>People</h4>
    <ul>
        @foreach (var ppl in Model.Peoples)
        {
            <li>@Html.DisplayFor(modelItem => ppl.Name) - <a asp-controller="People" asp-action="Details" asp-route-id="@ppl.PeopleId">Detail</a></li>

        }
    </ul>
    <div>
        <a asp-controller="People" asp-action="Create">Tell us about the people</a> |
        <a asp-action="Edit" asp-route-id="@Model.ExperienceId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>
